<ion-view view-title="Instagram">
  <ion-content class="padding">
      <div class="list card">
        <div class="item item-avatar">
          <img src="img/adam.jpg">
            <h2>Adam</h2>
             <p>Oulu, Finland</p>
        </div>
        <div class="item item-body">
          <img class="full-image" src="img/marimekko.jpg">
            <p>
               <a href="#" class="subdued">2 Like</a>
               <a href="#" class="subdued">3 Comments</a>
            </p>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left">
              <a class="tab-item" href="#">
                <i class="icon ion-heart"></i> Like
              </a>
              <a class="tab-item" href="#">
                 <i class="icon ion-chatbox"></i> Comment
              </a>
              <a class="tab-item" href="#">
                 <i class="icon ion-share"></i> Share
              </a>
         </div>
       </div>
  </ion-content>
</ion-view>
